[Unit]
Description=Start Router VMs

[Service]
ExecStart=/usr/bin/start-router-vms.sh

[Install]
WantedBy=multi-user.target

# chmod this to 755
# systemctl enable start-router-vms