[Unit]
Description=Start Router VMs
After=libvirtd.service
Requires=libvirtd.service

[Service]
ExecStart=/usr/bin/start-router-vms
Type=simple
TimeoutSec=240

[Install]
WantedBy=multi-user.target

# `sudo cp` this file to /etc/systemd/system/
# sudo systemctl enable start-router-vms.service